{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'style_css.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
<body>
    <h1>My Hobbies</h1>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'hobbies' %}">Hobbies</a></li>
      <li><a href="{% url 'interests' %}">Interests</a></li>
    </ul>
    <a class="btn btn-danger" href="{% url 'contact' %}">Contact</a>
    <div class="mainpage">
        <h2>Chess</h2>