{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'style_css.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
<br>
<body>
  <div class="navbar">
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a class="active" href="{% url 'hobbies' %}">Hobbies</a></li>
      <li><a href="{% url 'interests' %}">Interests</a></li>
      <li><input type="text" placeholder="Search"></li>
      <li><a class="btn btn-danger" href="{% url 'contact' %}">Contact</a></li>
    </ul>
  </div>
  <div class="title">
    <h1>My Hobbies</h1>
  </div>
  <div class="mainpage">
    <h2>Chess</h2>
      <p>I have developed an interest in playing chess online through chess.com.</p>
  </div>
</body>
<a class="btn btn-primary" role="button" onclick="topFunction()">Return to Top</a>
<script>
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<div class="footer">
  <p><b>Miscellaneous</b></p>
  <a href="https://www.linkedin.com/in/eoin-francis/">My LinkedIn Profile</a>
</div>
</html>