{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'style_css.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
<body>
    <h1>My Interests</h1>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'interests' %}">Interests</a></li>
    </ul>
    <a class="btn btn-danger" href="{% url 'contact' %}">Contact</a>
    <div class="mainpage">
        <h2>My Favourite Country: France</h2>
          <img style="max-width: 500px; height: auto; " src="{% static 'palace_of_versailles.jpg' %}" />
        <div class="image_desc">
          <p>The Palace of Versailles, one of my most favourite attractions in France.</p>
          <a class="btn btn-warning" href="{% url 'versailles' %}">More Info</a>
        </div>
        <p>I have travelled to France several times in the past. I have visited Paris and have seen many of it's famous
          sites.<br>
        One of my most favourite places in France is the Palace of Versailles.</p>
        <h2>My Other Favourite Countries</h2>
          <h3 class="countries">Austria</h3>
            <p>I have visited Vienna the capital of Austria.</p>
          <h3 class="countries">Italy</h3>
            <p>I have visited Rome and several of it's famous sites.</p>
        </body>
        By Photo: <a href="//commons.wikimedia.org/wiki/User:Myrabella" title="User:Myrabella">Myrabella</a>&nbsp;/&nbsp;<a href="//commons.wikimedia.org/wiki/Main_Page" title="Main Page">Wikimedia Commons</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=15781169">Link</a>
      </div>
    <a class="btn btn-primary" role="button" onclick="topFunction()">Return to Top</a>
</body>
<div class="footer">
  <p><b>Miscellaneous</b></p>
  <p>About This Site</p>
</div>
<script>
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
</html>